body {
    background: linear-gradient(90deg, #ECE9E6, #FFFFFF);
}

.cardLogin {
    /*background: #212529;*/
    background: linear-gradient(-90deg, #141E30, #243B55);
    border-radius: 7px;
    width: 280px;
    padding: 18px;
    box-shadow: 2px 4px 6px rgba(0 0 0 / 0.3);
    color:#FFFFFF;
    margin: 100px auto;

}

.cardLogin i {
    font-size: 12px;
}