/* 
 *
 */
 
.container {
    width: 100%;
    background-color: bisque;
  }
  
  article[role="main"] {
    float: left;
    width: 600px / 960px * 100%;
    border: coral solid 2px;
  }
  
  aside[role="complementary"] {
    float: right;
    width: 300px / 960px * 100%;
    border: rgb(80, 191, 255) solid 2px;
  }

