// Histórico / Realizados

//Default
.realizados-content {
    padding: 48px 64px;
}

.realizados-title-display {
    font-size: $display4-size;
    padding-bottom: 16px;
}

.realizados-title-subtitle {
    font-family: "Roboto-Light";
    font-size: $h3-font-size;
    color: $gray-600;
    padding-bottom: 32px;
}

//
